# app
sqlalchemy<2
dependency_injector
fastapi
psycopg2-binary
joblib
scikit-learn==1.3.0
redis
beautifulsoup4
nltk
openpyxl
pandas

# dev/tests
uvicorn
gunicorn
pytest
pytest-icdiff
mypy
pylint
requests
tenacity